@font-face {
    font-family: 'gg sans';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/manybaht/gg-san-2/gg sans Bold.woff') format('woff');
}
@font-face {
    font-family: 'gg sans';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/manybaht/gg-san-2/gg sans Regular.woff') format('woff');
}
@font-face {
    font-family: 'gg sans';
    font-style: normal;
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/manybaht/gg-san-2/gg sans Medium.woff') format('woff');
}
@font-face {
    font-family: 'gg sans';
    font-style: normal;
    font-weight: 600;
    src: url('https://cdn.jsdelivr.net/gh/manybaht/gg-san-2/gg sans Semibold.woff') format('woff');
}